.teacher {
  display: flex;
  flex-direction: row;
  height: 300px;
  padding: 20px 300px;
}

.teacher .photo {
  width: 240px;
  height: 300px;
}

.teacher .info {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.teacher .info h1 {
  font-size: 30px;
}

.teacher .info .desc {
  font-size: 18px;
  margin-top: 10px;
}

.teacher .info .other {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.teacher .info .other .item {
  font-size: 15px;
  width: 200px;
}


.card {
  display: inline-block;
  width: 200px;
  height: 332px;
  padding: 20px;
}

.card .cover {
  width: 200px;
  height: 250px;
}

.card .id {
  text-align: center;
  /*height: 50px;*/
  font-size: 18px;
  line-height: 40px;
}

.card .name {
  text-align: center;
  height: 42px;
  font-size: 14px;
  /*line-height: 50px;*/
}