.header {
  position: relative;
}

.space {
  flex: 1 1 auto;
}

.sidenav-container {
  position: absolute;
  width: 100%;
  top: 64px;
  bottom: 0px;
  left: 0px;
}

.sidenav {
  width: 220px;
  border: 1px solid #aaa;
}

.toolbar {

  /*width: 100%;*/
}

.toolbar-icon {
  width: 38px;
  overflow: hidden;
}
