<mat-toolbar color="primary">
  <span (click)="sidenav.toggle()">河蟹号操作台</span>
  <span class="space"></span>
  <span>Right Aligned Text</span>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened="true" class="sidenav">
    <mat-list>
      <mat-list-item (click)="goHome()"> Home </mat-list-item>
      <mat-list-item (click)="goUploadTeacher()"> Upload Teacher </mat-list-item>
    </mat-list>
  </mat-sidenav>

  <router-outlet></router-outlet>
</mat-sidenav-container>
