<div class="container">
  <mat-form-field>
    <input matInput placeholder="Homework ID" required [(ngModel)]="id">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Name" required [(ngModel)]="name">
  </mat-form-field>
  <mat-form-field>
    <textarea matInput placeholder="Description" type="textarea" [(ngModel)]="desc"></textarea>
  </mat-form-field>
  <div class="pic-select">
    <input type="file" id="photo" class="pic-input" (change)="onChange()" />
    <img class="img-preview" id="imgPre" src="" width="200px" height="200px" />
  </div>
  <button mat-raised-button color="primary" (click)="upload()">Upload</button>
</div>
